.sidebar-container {
    position: relative;
    z-index: 1000;
}

.hamburger-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 800px;
    background-color: #002d72;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 999;
    margin-top: 60px;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-view {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.user-icon {
    margin-right: 10px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 12px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}
